<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @member.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @member.job_title %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
